<!-- New Folder Modal -->
<div class="modal fade" id="newFolderModal" tabindex="-1" aria-labelledby="newFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="newFolderForm" class="modal-content" action="/folder/create?path={{path | urlencode}}" method="POST">
            <div class="modal-header">
                <h5 class="modal-title" id="newFolderModalLabel">Создать Новую Папку</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="folderName" class="form-label">Название</label>
                <input type="text" class="form-control" id="folderName" name="name" required />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Создать</button>
            </div>
        </form>
    </div>
</div>
